
.victorycontainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.victorycarouselitem{
    /* margin: 50px; */
    padding: 30px;
    /* width: 600px; */
}

.victoryimagegcontainer{
    max-width: 810px;
    max-height: 540px;
}
.victorycarousel{
    margin: 20px;
}

.victoryimage{
    width: 100%;
    height: 100%;
}

.victoryimage_height{
    max-height: 540px ;
    max-width: 360px;
}

.victorytextcontainer{
    background-color: #E57373;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;

}

.victorytext{
    padding: 20px;
    font-weight: bold;
}