
.playoffcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    margin-top: 20px;
}

.playofftextcontainer{
    max-width: 1000px;
    width: 100%;
    border-radius: 10px;
    /* background-color: #0097A7; */
    /* background: linear-gradient(to right, #43cea2, #185a9d); */
    background-color: #0097A7;
    /* background: linear-gradient(to right, #7b4397, #dc2430); */
    /* background-color: white; */
}
.playofftext{
    padding: 20px;
    font-weight: bold;
}

.playoffcarousel{
    margin: 20px;
}

.playoffcarouselitem{
    padding: 30px;
}

.playoffimagecontainer{
    max-width: 810px;
    max-height: 540px;
}

.playoffimage{
    width: 100%;
    height: 100%;
}

.playoffimagecontainer_height{
    max-height: 540px ;
    max-width: 360px;
}
