
.highlightscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.highlightscarousel{
    margin: 20px;
}

.highlightscarouselitem{
    padding: 30px;
}

.highlightsimagecontainer{
    max-width: 810px;
    max-height: 540px;
}

.highlightsimage{
    width: 100%;
    height: 100%;
}

.highlightsimagecontainer_height{
    max-height: 540px ;
    max-width: 360px;

}

.highlightstextcontainer{
    max-width: 600px;
    width: 100%;
    background-color: crimson;
    border-radius: 10px;
}

.highlightstext{
    color: whitesmoke;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}