.item{
    /* height: 40rem; */
    min-width: 600px;
    padding: 20px;
}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
}

.inner-carousel{
    display: flex;
    /* background-color: lightblue; */
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.badmintoncontainer{
    margin: 5% 20%;
    height: 100vh;
}

.badmintontextcontainer{
    max-width: 900px;

    width: 100%;
    background-color: #8ED1FC;
}

.badmintontext{
    padding: 20px;
    font-weight: bold;
}