.thrillimagecontainer{
    max-width: 400px;
    max-height: 600px;
    margin: 50px;
}

.thrillphoto{
    /* margin-top: 90px; */
    width: 100%;
    height: 100%;
}

.thrillcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* flex-direction: column; */
}

.thrilltextcontainer{
    /* margin-top: 20px; */
    max-width: 500px;
    background-color: #8ED1FC;
    border-radius: 10px;
    margin-right: 20px;
    
}

.thrilltext{
    /* width: 100%; */
    /* font-size: 20px; */
    padding: 20px;
    font-weight: bold;
}