

.groupefacimage{
    width: 100%;
    height: auto;
    filter: brightness(60%);
}

.geoupefactext{
  font-family: 'Lora', serif;
  font-weight: bold;
  height: 100%;
  font-size: 20px;

}


  

.groupefactextcontainer{
  width: 100%;
  height: 100px;
  /* height: 100%; */
  /* background-color: greenyellow; */
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px;
  /* border-radius: 10px; */

}
.groupefaccontainer{
  position: relative;
  width: 100%;
  height: 100vh;

  /* flex-direction: column; */
}


/* @media screen and (max-width: 600px) and (min-width: 1px) {
  .groupefactextcontainer{
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 100px;
  
  
  }

  .groupefaccontainer{
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

  }
} */