.e1718textcontainer{
    max-width: 900px;
    /* width: 100%; */
    background-color: beige;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;


    }

.e1718text{
 padding: 20px;
 font-weight: bold;
}

.e1718imagescontainer{
    /* height: 100vh; */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    /* margin-bottom: 0; */
  
 
}

.e17e18container{
    height: 100vh;
    /* margin: 10%; */
 display: flex;
 flex-direction: column;
 /* justify-content: center;
 align-items: center; */
 
}