
.daymatchcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.daycarouselitem{
    /* margin: 50px; */
    padding: 30px;
    /* width: 600px; */
}

.dayimgcontain{
    max-width: 810px;
    max-height: 540px;
}
.daycarousel{
    margin: 20px;
}

.dayimgset{
    width: 100%;
    height: 100%;
}

.dayimgcontain_height{
    max-height: 540px ;
    max-width: 360px;
}

.daymatchtext{
    padding: 10px;
    font-weight: bold;
}

.daymatchtextcontainer{
    max-width: 600px;
    width: 100%;
    background-color: chartreuse;
}
