.defendingphoto{
    margin-top: 30px;
    width: 700px;
    height: 500px;
}

.defendingcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.defendingtextcontainer{
    margin-top: 20px;
    /* padding: 20px; */
    max-width: 900px;
    width: 100%;
    /* height: 100%; */
    background-color:#8ED1FC;
    margin-bottom: 30px;
    border-radius: 10px;
}

.defendingtext{
    /* width: 100%; */
    /* font-size: 20px; */
    padding: 20px;
    font-weight: bold;
}