.cointextcontainer{
   
    /* padding: 20px; */
    max-width: 900px;
    margin-top: 60px;
    background-color: #E57373;
    /* margin: auto; */
/* position: absolute; */
margin-left: 20%;
margin-right: 20%;
border-radius: 10px;

    }

.coinmatchtext{
    /* height: 100%; */
    width: 100%;
    /* font-size: 20px; */
    /* position: absolute; */
    padding: 20px;
    font-weight: bold;
}

.check{
    margin: 30px;
}

.coincontainer{
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

@media screen and (min-width: 601px) and (max-width:1000px) {
    .coincontainer{
        height: 100vh;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; */
        margin-bottom: 400px;
    }
    
}