.e16photo{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.e16photocontainer{
    max-width: 720px;
    max-height: 480px;
}
.e16container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 20px;
}

.e16textcontainer{
    margin-top: 50px;
    /* padding: 20px; */
    max-width: 900px;
    width: 100%;
    /* height: 100%; */
    background-color:#E57373;
    border-radius: 10px;
}

.e16text{
    /* width: 100%; */
    /* font-size: 20px; */
    padding: 20px;
    font-weight: bold;
}