

.mgroupefacimage{
  width: 100%;
  height: auto;
  /* filter: brightness(40%); */
}

.mgroupefactext{
font-family: 'Lora', serif;
font-weight: bold;
/* color: white; */
font-size: 15px;
text-align: center;

}


.mgroupefactextcontainer{

/* background-color: rgba(255, 255, 255, 0.4); */
background-color: #0097A7;
padding: 20px;
/* border-radius: 10px; */
/* margin-bottom: 5px; */

}
.mgroupefaccontainer{
/* color: black;
margin: 10px; */
}

