
.nightmatchcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nightcarouselitem{
    /* margin: 50px; */
    padding: 30px;
    /* width: 600px; */
}

.nightimgcontain{
    max-width: 810px;
    max-height: 540px;
}
.nightcarousel{
    margin: 20px;
}

.nightimgset{
    width: 100%;
    height: 100%;
}

.nightimgcontain_height{
    max-height: 540px ;
    max-width: 360px;
}

.nighttextcontainer{
    margin-top: 20px;
    max-width: 1000px;
    width: 100%;
    background-color:darkcyan;
}

.nighttext{
    padding: 10px;
    font-weight: bold;
}
